@import "tailwindcss";

@layer base {
  *,
  ::before,
  ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    border-color: #d1d5db; /* Memaksa default border agar tidak hitam */
    border-style: solid;
    border-width: 0;
  }
}
